<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">list</mat-icon>
      <span class="tab-label"> List</span>
    </ng-template>
    <div fxLayout="row" fxLayout="row wrap" class="card-deck-container mat-elevation-z4">
      <div fxFlex *ngFor="let w of getWidgets() | async" class="card-item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title routerLink="/widgets/{{w.id}}" class="link-title">{{ w.name }} ({{ w.timestamp }})</mat-card-title>
            <mat-card-subtitle style="color: green">{{ w.revenue | currency }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image routerLink="/widgets/{{w.id}}" src="assets/img/{{w.id}}.jpg" alt="Photo of {{ w.id }}" style="cursor: pointer; max-height: 240px">
          <mat-card-content>
            <p>
              {{ w.description }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">show_chart</mat-icon>
      <span class="tab-label"> Revenue Summary</span>
    </ng-template>
    <line-chart></line-chart>
  </mat-tab>
</mat-tab-group>