<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="'/widgets'"
     routerLinkActive #rla="routerLinkActive"
     [active]="route === '/widgets'">
     <mat-icon class="example-tab-icon">list</mat-icon>
     <span class="tab-label">List</span>
  </a>
  <a mat-tab-link
  [routerLink]="'/chart'"
  routerLinkActive #rla="routerLinkActive"
  [active]="route === '/chart'">
  <mat-icon class="example-tab-icon">show_chart</mat-icon>
  <span class="tab-label" routerLink="/chart"> Revenue Summary</span>
</a>
</nav>

<router-outlet></router-outlet>